<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Font used throughout the project -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<!-- Reusable navbar fragment -->
<div th:fragment="navbar">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <!-- Navbar -->
  <div class="navbar">
    <div class="navbar-title">Dental Clinic Management System</div>
    <!-- Role-specific navbar options -->
    <div class="navbar-options">
      <!-- Receptionist options -->
      <div th:if="${session.isReceptionist}" class="receptionist-options">
        <a class="navbar-link" href="/patient/all">Patient List</a>
        <a class="navbar-link" href="/patient/add">Add Patient</a>
        <a class="navbar-link" href="/appointment/add">Add Appointment</a>
        <a class="navbar-link" href="/appointment/all">Appointments List</a>
      </div>
      <div th:if="${session.isDentist}" class="dentist-options">
        <a class="navbar-link" href="/appointment/all">Appointments List</a>

      </div>

      <div th:if="${session.isHygienist}" class="dentist-options">
        <a class="navbar-link" href="/patient/all">Patient List</a>
      </div>

      <div th:if="${session.isPatient}" class="patient-options">
        <a class="navbar-link" href="/appointment/all">Appointments List</a>
        <a class="navbar-link" th:href="'/patient/view?id=' + ${session.PersonID}">Medical Records</a>
      </div>

    </div>

    <!-- Details of the currently logged-in user -->
    <div class="navbar-user-session">
      <!-- Display the name of the user --->
      <div th:text="${session.NAME}"></div>
      <!-- Show log out button if a user is logged in --->
      <div th:if="${!session.isEmpty()}">
        <form action="#" th:action="@{/logout}" method="post">
          <input class="navbar-button" type="submit" value="Log Out">
        </form>
      </div>
      <!-- Show log in button if the user is not logged in --->
      <div th:if="${session.isEmpty()}">
        <a class="navbar-button" href="/login">Log In</a>
      </div>
    </div>
  </div>
</div>
</html>