<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
    <div th:insert="fragments/navbar :: navbar"></div>
</head>
<body>
    <div class="content">
        <div th:if="${failedEntry}">Incorrect user details.</div>
        <form action="#" th:action="@{/appointment/add}" th:object="${appointment}" method="post">
            <p>Patient:</p>
            <select id="patient-options" th:field="*{patientId}">
                <option th:each="rpOption : ${patients}" th:value="${rpOption.getPersonID()}" th:text="${rpOption.getFullNameAndID}"></option>
            </select>
            <p>Dentist/Hygienist:</p>
            <select id="dentist-options" th:field="*{dentistId}">
                <option th:each="rpOption : ${dentists}" th:value="${rpOption.getPersonID()}" th:text="${rpOption.getFullNameIDAndEmployer}"></option>
            </select>
            <p> Appointment Date:</p>
            <input type="date" th:field = "*{appointmentDate}">
            <p> Start Time:</p>
            <div class="tooltip">(Please include the PM and AM)
              </div>
            <input type="time" th:field = "*{startTime}">
            <p> End Time:</p>
            <div class="tooltip">(Please include the PM and AM)
              </div>
            <input type="time" th:field = "*{endTime}">
            <p>Appointment Type:</p>
            <select id="appointment-type-options" th:field="*{appointmentType}">
                <option th:each="rpOption : ${appointmentTypes}" th:value="${rpOption}" th:text="${rpOption}"></option>
            </select>
            <p>Appointment Status:</p>
            <select id="appointment-status-options" th:field="*{appointmentStatus}">
                <option th:each="rpOption : ${appointmentStatus}" th:value="${rpOption}" th:text="${rpOption}"></option>
            </select>
            <p> Room:</p>
            <input type="number" th:field = "*{room}">
            <p>Appointment Location:</p>
            <select id="appointment-location-options" th:field="*{appointmentLocation}">
                <option th:each="rpOption : ${appointmentLocations}" th:value="${rpOption}" th:text="${rpOption}"></option>
            </select>
            <br>
            <input class="submit-button" type="submit" value="Add Appointment">
        </form>
    </div>
</body>
</html>