<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment List</title>
    <div th:insert="fragments/navbar :: navbar"></div>
    <link rel="stylesheet" th:href="@{/css/appointment_list.css}">
</head>
<body>
    <div class="content">
        <table>
            <tr>
                <th>App. ID</th>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>Dentist ID</th>
                <th>Dentist Name</th>
                <th>Appointment Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Appointment Type</th>
                <th>Appointment Status</th>
                <th>Room </th>
                <th>Appointment Location</th>
                <th colspan="2">Actions</th>
            </tr>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.getAppointmentId()}"></td>
                <td th:text="${appointment.getPatientId()}"></td>
                <td th:text="${appointment.getPatientName}"></td>
                <td th:text="${appointment.getDentistId()}"></td>
                <td th:text="${appointment.getDentistName()}"></td>
                <td th:text="${appointment.getAppointmentDate()}"></td>
                <td th:text="${appointment.getStartTime()}"></td>
                <td th:text="${appointment.getEndTime()}"></td>
                <td th:text="${appointment.getAppointmentType()}"></td>
                <td th:text="${appointment.getAppointmentStatus()}"></td>
                <td th:text="${appointment.getRoom()}"></td>
                <td th:text="${appointment.getAppointmentLocation()}"></td>
                <td><a class="submit-button" th:href="'/appointment/view?id=' + ${appointment.getAppointmentId()}">View Appointment</a></td>
                <td><div th:if="${session.isDentist}" class="dentist-options">
                    <a class="submit-button" th:href="'/patient/view?id=' + ${appointment.getPatientId()}">View Patient</a>
                </div>
                </td>
                <td><div th:if="${session.isHygienist}" class="hygienist-options">
                    <a class="submit-button" th:href="'/patient/view?id=' + ${appointment.getPatientId()}">View Patient</a>
                </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>