<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<div th:fragment="patient-form-components">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <p>First name:</p>
    <input type="text" th:field="*{person.firstName}">
    <p>Middle name:</p>
    <input type="text" th:field="*{person.middleName}">
    <p>Last name:</p>
    <input type="text" th:field="*{person.lastName}">
    <p>Gender:</p>
    <div class="gender-options">
        <div class="male-option">
            Male
            <input type="radio" value="M" th:field="*{person.gender}">
        </div>
        <div class="female-option">
            Female
            <input type="radio" value="F" th:field="*{person.gender}">
        </div>
    </div>
    <p>Date of birth:</p>
    <input type="date" th:field="*{person.dateOfBirth}">
    <p>SSN:</p>
    <input type="number" th:field="*{patient.SSN}">
    <p>Insurance Company:</p>
    <select id="insurance-select" th:field="*{patient.insuranceID}">
        <option th:value="null" th:text="None"></option>
        <option th:each="option : ${insuranceOptions}" th:value="${option}" th:text="${option}"></option>
    </select>
    <p>Responsible Party:</p>
    <select id="responsible-party-options" th:field="*{temp.responsiblePartyID}">
        <option th:value="0" th:text="None"></option>
        <option th:each="rpOption : ${responsibleParties}" th:value="${rpOption.getPersonID()}" th:text="${rpOption.getFullNameAndID}"></option>
    </select>
    <br>
    <input class="submit-button" type="submit" value="Update Patient">
</div>