<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dental Clinic</title>
    <div th:insert="fragments/navbar :: navbar"></div>
</head>
<body>
    <div class="content">
        <h1>Welcome to Our Dental Clinic</h1>
        <p>&nbsp;</p>
        <p></p>
        <h2>Welcoming new Patients<br>- Let's see how we can help you!</h2>
        <h3>Our team would love to introduce you to our Ottawa Dental Clinic!</h3>
        <h3>Call (343) 111-1111 to schedule an appointment.</h3>
        <p>Alternatively, you can login and check your appointments.</p>
        <p th:value="${message}"></p>
    </div>
</body>
</html>