<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Records</title>
    <div th:insert="fragments/navbar :: navbar"></div>
</head>
<body>
    <div class="content">
        <table>
            <tr>
                <th>Name:</th>
                <td th:text="${person.getFullName()}"></td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td th:text="${person.gender}"></td>
            </tr>
            <tr>
                <th>Date of Birth:</th>
                <td th:text="${person.dateOfBirth}"></td>
            </tr>
            <tr th:if="${patient.responsibleParty != null}">
                <th>Responsible Party:</th>
                <td th:text="${patient.responsibleParty.getFullNameAndID()}"></td>
            </tr>
        </table>
        <div th:if="${!session.isReceptionist}">
        <br>
        <b>Medical History</b>:
        <table>
            <tr>
                <th>Patient ID</th>
                <th>Date</th>
                <th>Appointment Type</th>
                <th>Procedure Code</th>
                <th>Treatment Type</th>
                <th>Medication</th>
                <th>Symptoms</th>
                <th>Tooth</th>
            </tr>
            <tr th:each="appointment : ${records}">
                <td th:each="entry : ${appointment}" th:text="${entry.value}"></td>
            </tr>
        </table>
        </div>
    </div>
</body>
</html>