* {
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    background-color: #d4f1f4;
    color: #05445e;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a {
    color: rgb(42, 59, 92);
}

.content {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
}

.submit-button {
    color: #75e6da;
    background-color: #05445e;
    width: 10%;
    padding: 0.5%;
    margin-top: 1%;
    border: none;
    border-radius: 5%;
}

.submit-button:hover {
    background-color: #189ab4;
    color: #d4f1f4;
    cursor: pointer;
}

.submit-button:active {
    color: #75e6da;
    background-color: #05445e;
}

th {
    padding-right: 2%;
    text-align: left;
}

table {
    width: 60%;
}
